@import "tailwindcss";
@import "@nuxt/ui";

body {
  color: #394155;
}

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1900px;
}

@layer utilities {
  .before-border-gradient-1::before {
    content: "";
    z-index: 10;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    display: block;
    pointer-events: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    background-image: linear-gradient(90deg, #aacedb 0%, #bee2e0 100%);

    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}
